.bar {
    fill: rgb(37, 206, 46);
}


.bar:hover {
    fill: rgb(22, 117, 224);
}


.bartext {
    fill: rgb(219, 23, 177);
    text-anchor: middle;
}

i {
    border: solid black;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}